parameters:
    level: max

    ignoreErrors:
        # ignore until https://github.com/phpstan/phpstan-src/pull/2792 is merged
        - "{expects int<0, max>, int given}"
    paths:
        - example
        - lib
        - src
        - tests
    strictRules:
        booleansInConditions: false

includes:
    - phpstan-baseline.neon
